spring:
  application:
    name: api-gateway-service
  cloud:
    config:
      enabled: false
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/v1/users/**

security:
  jwt:
    public-key: classpath:public.txt